br_overlay/oot_modules/**/*.cmd
br_overlay/oot_modules/**/*.o
br_overlay/oot_modules/**/*.mod
br_overlay/oot_modules/**/*.mod.c
br_overlay/oot_modules/**/*.symvers
br_overlay/oot_modules/**/*.order
br_overlay/oot_modules/**/*.ko

test
test.c

.vscode
